name: Apple Doctor Final Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        # Ye action saare autoconf aur libtool errors ko khud theek rakhta hai
        uses: ArtemSBulgakov/buildozer-action@v1.6.1
        with:
          command: buildozer android debug
          buildozer_version: master

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Apple-Doctor-Final-APK
          path: bin/*.apk
