name: Build APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # AAPKA IDEA: Pehle Tools Install Karo
      - name: PRE-INSTALL TOOLS
        run: |
          chmod +x install_tools.sh
          ./install_tools.sh

      # AB COMMAND CHALAYEIN: Tools pehle se hi mil jayenge
      - name: RUN BUILDOZER COMMAND
        run: |
          export PATH=$PATH:$HOME/.local/bin
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Apple-Doctor-Final
          path: bin/*.apk
