name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        # Humne up-to-date action use kiya hai jo fail nahi hoga
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          command: buildozer android debug

      - name: Upload APK
        # Naya version v4 jo GitHub ab support karta hai
        uses: actions/upload-artifact@v4
        with:
          name: Apple-Doctor-APK
          path: bin/*.apk
